<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
	<head>
		<meta  charset="ISO-8859-1">
		<title>index page</title>
	</head>
	  
		<div style="display: flex; justify-content: center; background-color: black;">
		<section style="font-style: italic; background-color:black">
			<h1 style="text-align: center; color: aliceblue;">Welcome to login and Registration Demo Application</h1>
           <h3><li style="text-align: center; color: aliceblue">Click on registration to register</li>
		   <li style="text-align: center; color: aliceblue">login if already registered</li></h3>
		</section>
		</div>
	</body>
</html>